#letramusicaDiv {
        font-weight: bold;
        background-color: grey;
        display: inline-block;
        border-radius: 5px;
        margin-top: 5px;
}

#submitBtn {
        margin-top: 10px;
        padding: 10px;
        cursor: pointer;
}

#questions{
        font-size: larger;
}

input {
        padding: 4px;
        border-radius: 20px;

}

body{
        background-color: rgb(204, 255, 102);
        text-align: center;

}

#pesquisasCache {
        display: inline-block;
        padding: 5px;
        margin-top: 10px;
        font-size: larger;
        font-weight: bold;
        background-color: rgb(153, 255, 153);
        border-radius: 10px;
}

#musicasCache{
        list-style-type: none;
        text-transform: capitalize;

}

#artistaInput{
        margin-bottom: 10px;

}
