body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333; /* Cor de fundo do formulário */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #777;
  border-radius: 3px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0056b3;
}

